<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  

  <!-- METAETIQUETAS -->
  <meta name="keywords" content=""> 


  <!-- PROTOCOLO OPEN GRAPH -->
  <meta property="og:title" content="Manuscrito - Tu escuela de escritura 100% online"> 
  <meta property="og:image" content=""> 
  <meta property="og:autor" content=""> 
  <meta property="og:description" content=""> 


  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900&family=Zen+Kurenaido&display=swap" rel="stylesheet">

  <!-- Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

 <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/cursos.css">



  <!-- Titulo -->
  <title>Manuscrito - Tu escuela de escritura 100% online</title>

</head>

<body>
  
 
{{> navBar}}

<header>
<h2><span>Cursos</span></h2>
</header>

  <section>

    <!-- Nuestros cursos -->
    <h1 class="title4">Nuestros <span class="borderOrange">cursos</span></h1>
    
    <!-- Sub-Texto -->
    <div class="separadorContainer">
      <div class="separador">
          <p class="subtitle2">Formación Integral en Escritura Narrativa</p>
      </div>
    </div>


    <!-- CARDS -->

      <div class="cardsContainer row">

        <div class="card cursosCard col-4">

          <div class="card-header">
            <h2 class="cardH2">Primer Año</h2>
          </div>

          <div class="card-body">

            <h5 class="card-title">Curso de Formación Básica Inicial (CBI)</h5>
            <p class="card-text">El CBI es un curso conformado por 32 unidades semanales divididas en dos bloques de 16 semanas. La primer parte se cursa de marzo a junio y la segunda de agosto a noviembre. Hay recesos en los meses de julio y diciembre y una oferta de cursos breves de verano en enero y febrero. Cada unidad comprende un texto técnico introductorio, que será ampliado en la clase sincrónica por videoconferencia y una serie de consignas de escritura de las que el estudiante seleccionará una para su ejercicio de práctica. Todos los materiales de lectura están digitalizados e incluidos en el curso.</p>
            
            <div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed accordionStyle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Unidades CBI
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body1">
                    <div>
                      <ul>
                        <li class="listStyle"><strong>Unidad 1.</strong> La ficción</li>
                        <li class="listStyle"><strong>Unidad 2.</strong> Descripción</li>
                        <li class="listStyle"><strong>Unidad 3.</strong> Tipos de Narradores</li>
                        <li class="listStyle"><strong>Unidad 4.</strong> Punto de vista</li>
                        <li class="listStyle"><strong>Unidad 5.</strong> El cuento: modo de funcionamiento</li>
                        <li class="listStyle"><strong>Unidad 6.</strong> La voz</li>
                        <li class="listStyle"><strong>Unidad 7.</strong> El diálogo</li>
                        <li class="listStyle"><strong>Unidad 8.</strong> Personajes</li>
                        <li class="listStyle"><strong>Unidad 9.</strong> Conflicto</li>
                        <li class="listStyle"><strong>Unidad 10.</strong> Misterio</li>
                        <li class="listStyle"><strong>Unidad 11.</strong> Suspenso Curva dramática</li>
                        <li class="listStyle"><strong>Unidad 12.</strong> El ritmo</li>
                        <li class="listStyle"><strong>Unidad 13.</strong> La escena</li>
                        <li class="listStyle"><strong>Unidad 14.</strong> Imaginación y procesos creativos </li>
                        <li class="listStyle"><strong>Unidad 15.</strong> Manejo del tiempo</li>
                        <li class="listStyle"><strong>Unidad 16.</strong> Manejo del espacio</li>
                      </ul>
                    </div>
                    <div>
                      <ul>
                        <li class="listStyle"><strong>Unidad 17.</strong> El comienzo</li>
                        <li class="listStyle"><strong>Unidad 18.</strong> Mostrar y explicar</li>
                        <li class="listStyle"><strong>Unidad 19.</strong> Intertextualidad</li>
                        <li class="listStyle"><strong>Unidad 20.</strong> El saber técnico</li>
                        <li class="listStyle"><strong>Unidad 21.</strong> Literatura y medios de comunicación</li>
                        <li class="listStyle"><strong>Unidad 22.</strong> Analogía</li>
                        <li class="listStyle"><strong>Unidad 23.</strong> Simbolismo</li>
                        <li class="listStyle"><strong>Unidad 24.</strong> Los géneros literarios</li>
                        <li class="listStyle"><strong>Unidad 25.</strong> La familia</li>
                        <li class="listStyle"><strong>Unidad 26.</strong> Lo siniestro</li>
                        <li class="listStyle"><strong>Unidad 27.</strong> El surrealismo</li>
                        <li class="listStyle"><strong>Unidad 28.</strong> Lo apócrifo</li>
                        <li class="listStyle"><strong>Unidad 29.</strong> Estructura narrativa</li>
                        <li class="listStyle"><strong>Unidad 30.</strong> Curva dramática</li>
                        <li class="listStyle"><strong>Unidad 31.</strong> La epifanía</li>
                        <li class="listStyle"><strong>Unidad 32.</strong> El final de un texto narrativo</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        
        <div class="card cursosCard col-4">

          <div class="card-header">
            <h2 class="cardH2">Segundo Año</h2>
          </div>

          <div class="card-body">

            <h5 class="card-title">Seminarios</h5>
            <p class="card-text">A lo largo del segundo año del curso de formación cada estudiante podrá elegir entre los seminarios de escritura propuestos para organizar su recorrido. Cada seminario tendrá una duración de entre 4 y 8 clases. Habrá seminarios obligatorios y optativos que sumarán una serie de créditos. Cada estudiante debe reunir 100 créditos para tener aprobada esta parte del recorrido.</p>
            
            <div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed accordionStyle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Seminarios Obligatorios
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body2">
                    <ul>
                      <li class="listStyle">Normativa (sintaxis, gramática, puntuación).</li>
                      <li class="listStyle">Cuento</li>
                      <li class="listStyle">Novela</li>
                      <li class="listStyle">Lectura “Leer como un escritor”</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

            <div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed accordionStyle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Seminarios Optativos
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body2">
                    <ul>
                      <li class="listStyle">Poesía</li>
                      <li class="listStyle">Literatura infantil</li>
                      <li class="listStyle">Género policial</li>
                      <li class="listStyle">Género ciencia ficción</li>
                      <li class="listStyle">Género terror</li>
                      <li class="listStyle">Género fantástico</li>
                      <li class="listStyle">No ficción: la crónica</li>
                      <li class="listStyle">Literatura autobiográfica</li>
                      <li class="listStyle">Literatura LGBT</li>
                      <li class="listStyle">Literatura  experimental</li>
                      <li class="listStyle">Master Class</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="card cursosCard col-4">

          <div class="card-header">
            <h2 class="cardH2">Tercer Año</h2>
          </div>

          <div class="card-body">

            <h5 class="card-title">Clinica de obra</h5>
            <p class="card-text">En el tercer año se conformarán grupos reducidos de entre cinco  y  diez integrantes que  trabajarán sobre su propio proyecto de escritura a  través de una tutoría personalizada del  coordinador del grupo, quien decidirá cuándo el proyecto está  terminado. Una  vez concluido  el  proyecto de escritura personal se dará por  concluida  la formación, se  extenderá el  título  y el egresado/a tendrá la posibilidad de publicar  su  libro en  nuestra  editorial  (en  formato  físico y/o digital). </p>

          </div>

        </div>


      </div>


    <!-- Boton beige de Inscribirse ahora -->
    <div class="d-flex justify-content-center align-items-center">

      <div class="buttonContainer">
      <button  type="button" class="buttonStyleCursos btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Inscribirse ahora</button>
      </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="title"><span>Formulario</span> de inscripción</p>
        <p class="desc">

        Dejanos tus datos y nos pondremos en contacto para continuar con el proceso de inscripción
        </p>
        <form action="/">
          <input type="text" placeholder="Nombre y apellido">
          <input type="email" placeholder="Correo">
          <input type="" placeholder="Curso de tu interés">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn send-btn">Enviar</button>
      </div>
    </div>
  </div>
</div>

    </div>
         



    <!-- Social media -->
    <div class="d-flex justify-content-center align-items-center">

      <div class="lineOrange d-flex justify-content-center align-items-center">

        <div class="iconContainer">

          <a href=""><img class="icono" src="imagenes/logoClaro3.png" alt="icono facebook"></a>
          <a href=""><img class="icono" src="imagenes/logoClaro1.png" alt="icono instagram"></a>
          <a href=""><img class="icono" src="imagenes/logoClaro4.png" alt="icono whatsapp"></a>
          <a href=""><img class="icono" src="imagenes/logoClaro2.png" alt="icono gmail"></a>

        </div>

      </div>

    </div>

  </section>






  <!-- Boostrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
  </script>
  <script>

var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
  </script>

</body>

</html>
