<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

{{> navBar}}

<header class="header">
  <h1><p class="top">Tu escuela de escritura</p><p class="bot">100% online</p> </h1>
</header>
</body>
</html>
