<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  

  <!-- METAETIQUETAS -->
  <meta name="keywords" content=""> 


  <!-- PROTOCOLO OPEN GRAPH -->
  <meta property="og:title" content="Manuscrito - Tu escuela de escritura 100% online"> 
  <meta property="og:image" content=""> 
  <meta property="og:autor" content=""> 
  <meta property="og:description" content=""> 


  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900&family=Zen+Kurenaido&display=swap" rel="stylesheet">

  <!-- Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- CSS -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/index.css">

  <!-- Titulo -->
  <title>Manuscrito - Tu escuela de escritura 100% online</title>

</head>


<body>

  
{{> navBar}}
 
<header class="header">
  <h1><p class="top">Tu escuela de escritura</p><p class="bot">100% online</p> </h1>
</header>

 
  <section>



    <!-- Que es manuscrito -->
    <div class="container-fluid manuscrito-container">

      <div class="row firstText d-flex justify-content-center align-items-center">
  
          <div class="col-12 col-lg-6">
            <h2 class="subTitle1">
                ¿Qué es <span class="borderOrange">Manuscrito</span>?
            </h2>
    
            <p class="text1">
                Somos una escuela de escritura pensada por y para escritores. Nuestro objetivo será acompañarte en todo el proceso de formación para que descubras tu voz y tu estilo y reveles al escritor/a que hay dentro tuyo.
            </p>
          </div>
  
          <div class="col-12 col-lg-6">
            <p class="text2">
                En esta escuela te proponemos una formación integral, que te permitirá adquirir las herramientas imprescindibles del oficio, perfeccionarlas en múltiples ejercicios de escritura, transitar seminarios acordes a tu intereses y tu estilo y trabajar a fondo en tu propio proyecto de escritura,  desde los primeros ejercicios hasta terminar con tu propio libro publicado.
            </p>
          </div>
  
      </div>
      
    </div>

    <!-- Divisor naranja  -->

    <div class="divider1 d-flex justify-content-center align-items-center">

      <div>


        <h2 class="title1">“La escritura es la pintura de la voz“</h2>
        <div class="autorContainer">
        <p class="autor">Voltaire</p>
        </div>

      </div>

    </div>


    <!-- Seccion de recomendaciones de alumnos -->
    <div class="seccionIndex2">
      
      <h2 class="title2"> <span class="borderOrange">Alumnos</span> que nos recomiendan</h2>


      <div class="parrafosIndex row">

        <div class="col-12 d-flex justify-content-center align-items-center">

          <div class="alumno col-3 mx-5">

            <div class="d-flex justify-content-around">

              <div>
                <img class="img-fluid imgAlumno" src="/img/alumno1.jpg" alt="foto de almuno">
              </div>

              <div class="d-flex justify-content-center align-items-center">
                <h2 class="nombreAlumno">Nombre Alumno</h2>
              </div>

            </div>
            
            <div class="textContainer">

              <p class="experienciaAlumnos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto itaque similique, error nemo quasi consequuntur. Quas fugiat itaque ea. Animi nostrum a numquam facere porro natus. Eaque, ratione vitae.</p>
              
            </div>
            
          </div>

          <div class="alumno col-3 mx-5">

            <div class="d-flex justify-content-around">

              <div>
                <img class="img-fluid imgAlumno" src="/img/alumno2.jpg" alt="foto de alumno">
              </div>

              <div class="d-flex justify-content-center align-items-center">
                <h2 class="nombreAlumno">Nombre Alumno</h2>
              </div>

            </div>
            
            <div class="textContainer">

              <p class="experienciaAlumnos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto itaque similique, error nemo quasi consequuntur. Quas fugiat itaque ea. Animi nostrum a numquam facere porro natus. Eaque, ratione vitae.</p>
              
            </div>
            
          </div>

          <div class="alumno col-3 mx-5">

            <div class="d-flex justify-content-around">

              <div>
                <img class="img-fluid imgAlumno" src="/img/alumno3.jpg" alt="foto de alumno">
              </div>

              <div class="d-flex justify-content-center align-items-center">
                <h2 class="nombreAlumno">Nombre Alumno</h2>
              </div>

            </div>
            
            <div class="textContainer">

              <p class="experienciaAlumnos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto itaque similique, error nemo quasi consequuntur. Quas fugiat itaque ea. Animi nostrum a numquam facere porro natus. Eaque, ratione vitae.</p>
              
            </div>
            
          </div>
          
          <div class="alumno col-3 mx-5">

            <div class="d-flex justify-content-around">

              <div>
                <img class="img-fluid imgAlumno" src="/img/alumno4.jpg" alt="foto de alumno">
              </div>

              <div class="d-flex justify-content-center align-items-center">
                <h2 class="nombreAlumno">Nombre Alumno</h2>
              </div>

            </div>
            
            <div class="textContainer">

              <p class="experienciaAlumnos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto itaque similique, error nemo quasi consequuntur. Quas fugiat itaque ea. Animi nostrum a numquam facere porro natus. Eaque, ratione vitae.</p>
              
            </div>
            
          </div>

        </div>

      </div>
      
    </div>



    <!-- EDUCACION ONLINE A TU ALCANCE -->
    <div>
      <h2 class="title3">
        Educación online a tu alcance
      </h2>

      <div class="seccionIndex3">

        <div> 

          <div class="texto1 col-12">

            <div class="row m-0">

              <div class="img-fluid imgBox col-12 col-lg-6"><img class="imagen" src="/img/foto3.jpg" alt="persona escribiendo"></div>

              <div class="textBox col-12 col-lg-6 mb-0">
                <h2 class="subtitle3">Clases online en vivo con profesores expertos</h2>
                <p class="socaloDescriptivo1">Manuscrito es una escuela de escritura online desarrollada por escritores y para escritores. Quienes llevamos adelante este proyecto contamos con años de experiencia acreditada en la escritura narrativa y su enseñanza.
                  Te proponemos una formación ciento por ciento online, con mentorías y tutorías personalizadas, para que puedas desarrollar todo tu potencial sin moverte de tu casa, con las herramientas más innovadoras en materia de educación a distancia.</p>
              </div>

            </div>

          </div>

          <div class="texto2 col-12">

            <div class="row m-0">

              <div class="textBox col-12 col-lg-6">
                <h2 class="subtitle4">Nuestra propuesta</h2>
                <p class="socaloDescriptivo2">Te proponemos una formación integral en escritura especializada en narrativa a lo largo de tres años. Dedicamos el primer año a la formación inicial, para brindarte todas las herramientas esenciales en el oficio de escritura, como los tipos de narradores, la construcción de los personajes, la estructura narrativa, entre otras. El segundo año se compone de un sistema de créditos que se reúnen cursando una serie de seminarios de escritura más específicos, lo que te dará la flexibilidad para elegir tu propio recorrido en base a tus gustos, deseos e intereses. El tercer y último año estará destinado al trabajo en formato clínica de obra de tu proyecto personal e incluye la opción de que puedas publicarlo una vez terminado.</p>
              </div>

              <div class="img-fluid  m-0 imgBox col-12 col-lg-6"><img class="imagen" src="/img/foto2.jpg" alt="letras saliendo de un libro"></div>

            </div>

          </div>

          <div class="texto1 col-12">   

            <div class="row m-0">

              <div class="img-fluid m-0 imgBox col-12 col-lg-6"><img class="imagen" src="/img/foto1.jpg" alt="señora escribiendo"></div>

              <div class="textBox col-12 col-lg-6">
                <h2 class="subtitle3">Pensada para toda persona con deseos de escribir</h2>
                <p class="socaloDescriptivo1">Nuestra formación está pensada para toda persona adulta con deseos de escribir. No brindamos recetas ni fórmulas, creemos que el talento es necesario pero no es suficiente ni excluyente, creemos que un escritor/a se hace a fuerza de horas de práctica y ejercitación, bajo una guía adecuada que lo oriente en su camino. Tampoco te diremos “cómo” escribir, no nos identificamos con una estética o poética en particular, desde una novela realista a una de ciencia ficción, desde géneros como el terror o el policial, creemos que lo importante es lo que tengas para decir y queremos ayudarte a que encuentres tu voz y tu estilo para que puedas trasmitirlo de la mejor forma posible y que tu libro sea atractivo e irresistible para los lectores.</p>
              </div>

            </div>  
          </div>

          <div class="texto2 col-12">

            <div class="row m-0">

              <div class="textBox col-6">
                <h2 class="subtitle4">Sin necesidad de conocimientos o experiencia previa</h2>
                <p class="socaloDescriptivo2">NO, no es necesario ningún conocimiento ni experiencia en materia de escritura para poder cursar nuestra carrera. El único conocimiento que requerimos es el del idioma castellano. El curso de formación de Manuscrito está pensado para personas sin experiencia en la escritura, ya que brindamos todas las herramientas imprescindibles para poder desarrollar un texto narrativo y, además, a lo largo de los dos primeros años realizamos muchos trabajos y ejercicios de escritura que brindarán la experiencia necesaria para poder encarar la escritura de un proyecto propio sin temor a encontrarse con obstáculos o dificultades que lo impidan. Solo requerimos de nuestros estudiantes convicción y constancia en la asistencia a los cursos y la ejercitación. Nuestro método de trabajo ya acredita más de una decena de libros publicados y otros tantos concluidos y en proceso de publicación.</p>
              </div>

              <div class="img-fluid m-0 imgBox col-6"><img class="imagen" src="/img/foto4.jpg" alt="libro y cafe"></div>

            </div>

          </div>

        </div>

      </div>

    </div>


    <!-- Boton beige de ver cursos -->
    <div class="d-flex justify-content-center align-items-center">

      <div class="buttonContainer">
      <button  type="button" class="buttonStyle btn btn-primary">Ver Cursos</button>
      </div>

    </div>



    <!-- Social media -->
    <div class="d-flex justify-content-center align-items-center">

      <div class="lineOrange d-flex justify-content-center align-items-center">

        <div class="iconContainer">

          <a href=""><img class="icono" src="/img/logoClaro3.png" alt="icono facebook"></a>
          <a href=""><img class="icono" src="/img/logoClaro1.png" alt="icono instagram"></a>
          <a href=""><img class="icono" src="/img/logoClaro4.png" alt="icono whatsapp"></a>
          <a href=""><img class="icono" src="/img/logoClaro2.png" alt="icono gmail"></a>

        </div>

      </div>

    </div>
  </section>

  {{>footer}}




  <!-- Boostrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
  </script>

</body>

</html>
