<html lang="es">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />

    <!-- METAETIQUETAS -->
    <meta name="keywords" content="" />

    <!-- PROTOCOLO OPEN GRAPH -->
    <meta
      property="og:title"
      content="Manuscrito - Tu escuela de escritura 100% online"
    />
    <meta property="og:image" content="" />
    <meta property="og:autor" content="" />
    <meta property="og:description" content="" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900&family=Zen+Kurenaido&display=swap"
      rel="stylesheet"
    />

    <!-- Boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/personas.css" />

    <!-- Titulo -->
    <title>Manuscrito - Tu escuela de escritura 100% online</title>

  </head>

  <body>

{{> navBar}}
<header>
<h2><span>¿Quienes</span> Somos?</h2>
</header>
    <section>

      <!-- Titulo y subtitulo  -->

      <div>

        <div class="titleContainer">
          <h2 class="title5"><span class="borderOrange">Personas</span>
            detras de Manuscrito</h2>
        </div>

        <div class="subtitlePosition">
          <div class="subtitleContainer">
            <p class="subtitle3">
              <span class="spanManuscrito">Manuscrito</span>
              escuela de escritura es un proyecto ideado por Ariel Idez,
              escritor, docente y periodista con una vasta trayectoria en la
              enseñanza de la escritura creativa y formal, junto a un equipo
              destacado de docentes-escritores.
            </p>
          </div>
        </div>

      </div>

      <!-- Seccion beige central -->

      <div class="seccionBeige">

        <div class="secciones-container">

          <div class="seccion1">

            <div class="top">

              <div class="left">
                <p class="ariel-bgorange">Ariel Idez</p>
                <img class="tapaLibro" src="/imagenes/tapalibro1.jpg" alt="" />
              </div>

              <div class="right">
                <img class="fotoAriel" src="/imagenes/ariel.jpg" alt="" />
              </div>
            </div>

            <div class="bot">

              <img class="tapaLibro" src="/imagenes/tapalibro2.jpg" alt="" />
              <img class="tapaLibro" src="/imagenes/tapalibro3.jpg" alt="" />
              <img class="tapaLibro" src="/imagenes/tapalibro4.jpg" alt="" />

            </div>

          </div>

          <div class="seccion2">
            <div>
              <p class="arielDescripcion">Ariel Idez nació en Buenos Aires en
                1977. Es Magister en Comunicación y Cultura y Licenciado en
                Comunicación Social, graduado en la Universidad de Buenos Aires.
                Publicó el ensayo Literal. La vanguardia intrigante (ed.
                Prometeo, 2010), los libros de cuentos: No vas a ser astronauta
                (ed. Pánico el pánico, 2010) y Luz y fuerza (colección “Leer es
                futuro” del Ministerio de Cultura de la Nación, 2015), la novela
                La última de César Aira (ed. Pánico el pánico, 2012) y el libro
                de presentaciones apócrifas Elogio de la pérdida y otras
                presentaciones (ed. Interzona, 2016). Desde el año 2011 dicta
                talleres de escritura académica y creativa en distintas
                universidades nacionales (UBA, UNSAM, UNM) y centros de
                formación cultural, como el Club Cultural Matienzo y Casa de
                Letras.
              </p>
            </div>

            <div class="buttonContainerPersonas">
              <button
                type="button"
                class="buttonStylePersonas btn btn-primary"
              >Ver mas</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Seccion profesores -->

      <div class="profesorSection">

        <div class="titleContainer">
          <h2 class="title6">Nuestros
            <span class="borderOrange">Docentes</span></h2>
        </div>

        <div class="container-fluid">

          <div class="row">

            <div class="col-6 col-lg-4 profesorContainer">
              <img
                class="imgProfesor"
                src="/imagenes/alumno1.jpg"
                alt="Imagen de docente"
              />
              <div class="profesorDescription">
                <h5 class="profesorTitle">Profesor uno</h5>
                <p class="profesorParagraph">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.</p>
              </div>
            </div>

            <div class="col-6 col-lg-4 profesorContainer">
              <img
                class="imgProfesor"
                src="/imagenes/alumno2.jpg"
                alt="Imagen de docente"
              />
              <div class="profesorDescription">
                <h5 class="profesorTitle">Profesor dos</h5>
                <p class="profesorParagraph">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.</p>
              </div>
            </div>

            <div class="col-6 col-lg-4 profesorContainer">
              <img
                class="imgProfesor"
                src="/imagenes/alumno3.jpg"
                alt="Imagen de docente"
              />
              <div class="profesorDescription">
                <h5 class="profesorTitle">Profesor tres</h5>
                <p class="profesorParagraph">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.</p>
              </div>
            </div>


            <div class="col-6 col-lg-4 profesorContainer">
              <img
                class="imgProfesor"
                src="/imagenes/alumno1.jpg"
                alt="Imagen de docente"
              />
              <div class="profesorDescription">
                <h5 class="profesorTitle">Profesor uno</h5>
                <p class="profesorParagraph">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.</p>
              </div>
            </div>

            <div class="col-6 col-lg-4 profesorContainer">
              <img
                class="imgProfesor"
                src="/imagenes/alumno2.jpg"
                alt="Imagen de docente"
              />
              <div class="profesorDescription">
                <h5 class="profesorTitle">Profesor dos</h5>
                <p class="profesorParagraph">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.</p>
              </div>
            </div>

            <div class="col-6 col-lg-4 profesorContainer">
              <img
                class="imgProfesor"
                src="/imagenes/alumno3.jpg"
                alt="Imagen de docente"
              />
              <div class="profesorDescription">
                <h5 class="profesorTitle">Profesor tres</h5>
                <p class="profesorParagraph">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.</p>
              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- Social media -->

      <div class="d-flex justify-content-center align-items-center">

        <div
          class="lineOrange d-flex justify-content-center align-items-center"
        >

          <div class="iconContainer">

            <a href=""><img
                class="icono"
                src="/imagenes/logoClaro3.png"
                alt="icono facebook"
              /></a>
            <a href=""><img
                class="icono"
                src="/imagenes/logoClaro1.png"
                alt="icono instagram"
              /></a>
            <a href=""><img
                class="icono"
                src="/imagenes/logoClaro4.png"
                alt="icono whatsapp"
              /></a>
            <a href=""><img
                class="icono"
                src="/imagenes/logoClaro2.png"
                alt="icono gmail"
              /></a>

          </div>

        </div>

      </div>

    </section>

  {{>footer}}
    <!-- Boostrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    >
    </script>

  </body>

</html>
