@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
/* QUE ES MANUSCRITO */
.manuscrito-container {
  padding-right: 100px;
  padding-left: 100px; }

.firstText {
  padding-top: 50px;
  height: auto; }

.borderOrange {
  border-bottom: 3px solid #F28705; }

.innerText1 {
  padding-top: 40px;
  width: 400px;
  min-height: 343px; }

.innerText2 {
  padding-top: 40px;
  width: 400px;
  min-height: 343px; }

.subTitle1 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 67px; }

.text1 {
  padding-top: 30px;
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px; }

.text2 {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px; }

/* Primer divisor */
.divider1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #F28705; }

.title1 {
  text-align: center;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin-top: 40px; }

.autor {
  font-family: Cairo;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-align: end;
  margin-right: 1.5rem; }

/* Seccion de recomendaciones de alumnos */
.parrafosIndex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-y: scroll; }

.title2 {
  margin: 40px 0px;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 67px;
  color: #000000;
  text-align: center; }

.nombreAlumno {
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  text-align: center; }

.textContainer {
  margin: 20px; }

.experienciaAlumnos {
  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: start; }

.alumno {
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 317px;
  height: 283.78px; }

.imgAlumno {
  width: 61.03px;
  height: 61.03px;
  border-radius: 50%;
  margin-left: 5px; }

/* Educacion online a tu alcance */
.title3 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 120px;
  text-align: center;
  margin: 40px 15px; }

.subtitle3 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: white; }

.subtitle4 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px; }

.socaloDescriptivo1 {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: white; }

.socaloDescriptivo2 {
  font-family: Zen Kurenaido;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px; }

.texto1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F28705; }

.texto2 {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagen {
  width: 470px;
  height: 360px;
  object-fit: contain; }

.imgBox {
  margin: 0 6px; }

.textBox {
  width: 470px;
  height: 100%; }

/* BOTON DE VER CURSOS */
.buttonStyle {
  background-color: #BF9765 !important;
  border: 1px black;
  width: 197px;
  height: 55px;
  font-size: 24px; }

.buttonContainer {
  margin: 80px 0; }

/* BOTONES DE REDES SOCIALES */
.iconContainer {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.lineOrange {
  margin: 20px 60px;
  width: 100%;
  height: 76px;
  border-bottom: 2px solid #F28705;
  border-top: 2px solid #F28705; }

.icono {
  width: 50px;
  height: 50px; }

@media (max-width: 992px) {
  .manuscrito-container {
    padding-right: 44px;
    padding-left: 44px; }
  .texto1 .row {
    display: flex;
    justify-content: center;
    align-content: center; }
    .texto1 .row .imgBox {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%; }
  .texto2 .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
    .texto2 .row .imgBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
  .textBox {
    width: 100%;
    padding: 20px; }
  h2 {
    text-align: center; }
  .row {
    margin: 0; } }

@media (max-width: 500px) {
  .imagen {
    width: 100%; }
  .title2 {
    font-size: 28px; }
  .title3 {
    font-size: 32px; } }

html {
  /* 62.5% of 16px base font size is 10px */
  font-family: Cairo, "sans-serif";
  overflow-y: scroll; }

.header {
  height: calc(100vh - 105px);
  background-color: gray;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/imagen-index.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  .header h1 {
    padding: 0;
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 89.94px; }
    .header h1 .top {
      background-color: #f28705;
      padding-left: 31px;
      padding-right: 11px; }
    .header h1 .bot {
      font-size: 96px;
      line-height: 130px;
      margin-left: 92px; }

a {
  text-decoration: none;
  color: inherit; }

@media (max-width: 710px) {
  .top {
    font-size: 25px !important; }
  .bot {
    font-size: 35px !important;
    margin-left: 10px !important; } }

@media (max-width: 850px) {
  h1 .top {
    padding-left: 15px !important; }
  h1 .bot {
    margin-left: 10px !important; } }
