<head>
  <link rel="stylesheet" href="/css/footer.css" />
</head>
<footer class="footer">
  <section class="top">
    © Manuscrito
  </section>
  <section class="bot">
    Aviso legal | Política de privacidad | Política de cookies
  </section>
</footer>
