<head>
  <link rel="stylesheet" href="/css/navbar.css" />
</head>

<nav class="nav">
  <section class="brand">
    <img src="/img/original_logo.png" alt="Logo de Manuscrito" />
  </section>

  <ul class="options">
    <li>Inicio</li>
    <li>¿Quiénes Somos?</li>
    <li>Cursos</li>
    <li>Blog</li>
    <li>Contacto</li>
  </ul>
</nav>
