<head>
  <link rel="stylesheet" href="/css/navbar.css" />
</head>

<nav class="nav">
  <section class="brand">
    <img src="/img/original_logo.png" alt="Logo de Manuscrito" />
  </section>

  <ul class="nav-menu">
    <li class="nav-item">Inicio</li>
    <li class="nav-item">¿Quiénes Somos?</li>
    <li class="nav-item">Cursos</li>
    <li class="nav-item">Blog</li>
    <li class="nav-item">Contacto</li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
<script src="/js/navbar.js"></script>
