@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import 'components/header' ;
@import 'components/footer' ;
@import 'components/midsection' ;
@import 'base/variables' ;
@import 'components/tienda' ;
@import 'base/mixin' ; 
@import 'components/socialmedia' ;




html {
  /* 62.5% of 16px base font size is 10px */
  font-family: Cairo, "sans-serif";
  overflow-y: scroll;
}


* {
  // margin: 0;
  // padding: 0;
  // box-sizing: content-box;
}
.header {
  height: calc(100vh - 105px);
  background-color: gray;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://firebasestorage.googleapis.com/v0/b/netflix-c174a.appspot.com/o/manuscrito%2Fimagen-index.jpg?alt=media&token=f1eddf3a-1da5-4d46-ad08-cc7fcb3e9d6c");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 89.94px;
    .top {
      background-color: rgb(242, 135, 5);
      padding-left: 31px;
      padding-right: 11px;
    }

    .bot {
      font-size: 96px;
      line-height: 130px;
      margin-left: 92px;
    }
  }
}
