.nav {
  height: 105px;
  width: 100%;
  background-color: #050505;
  color: white;
  display: flex;

  .brand {
    flex: 6;
    margin-left: 7rem;
    height: 100%;
    display: flex;
    img{
      align-self: center;
    }
  }
  .options {
    height: 100%;
    display: flex;
    flex: 6;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 1.8rem;
    margin: 0;
    margin-right: 7rem;

    li{
      margin: 0 3.5rem;
      cursor: pointer;
      padding: 0.2rem;

      &:hover{
        border-bottom: 2px solid #F28705;
      }
    }

  }
}
