
.nav {
  height: 105px;
  width: 100%;
  background-color: #050505;
  color: white;
  display: flex;

  .brand {
    flex: 6;
    margin-left: 70px;
    height: 100%;
    display: flex;
    img{
      align-self: center;
    }
  }
  .options {
    height: 100%;
    display: flex;
    flex: 6;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0;
    margin-right: 70px;

    li{
      margin: 0 35px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
      cursor: pointer;
      padding: 12px;

      &:hover{
        border-bottom: 2px solid #F28705;
      }
    }

  }
}
